{
    "openapi": "3.0.0",
    "info": {
        "title": "FIRST API",
        "version": "1.0.0",
        "description": "An API for accessing public data from FIRST.org."
    },
    "servers": [
        {
            "url": "https://api.first.org/data/v1",
            "description": "Base URL for FIRST API v1"
        }
    ],
    "paths": {
        "/epss": {
            "get": {
                "summary": "Retrieve EPSS Data",
                "description": "Fetch EPSS (Exploit Prediction Scoring System) data for vulnerabilities.",
                "parameters": [
                    {
                        "name": "cve",
                        "in": "query",
                        "required": false,
                        "description": "Filters by EPSS CVE ID. Multiple values are supported separated by commas (maximum size: 2000 characters).",
                        "schema": {
                            "type": "string",
                            "example": "CVE-2021-40438,CVE-2019-16759"
                        }
                    },
                    {
                        "name": "date",
                        "in": "query",
                        "required": false,
                        "description": "Date in the format YYYY-MM-DD (since April 14, 2021), shows the historic values for epss and percentile attributes.",
                        "schema": {
                            "type": "string",
                            "format": "date",
                            "example": "2022-02-28"
                        }
                    },
                    {
                        "name": "days",
                        "in": "query",
                        "required": false,
                        "description": "Number of days since the EPSS score was added to the database.",
                        "schema": {
                            "type": "integer",
                            "example": 7
                        }
                    },
                    {
                        "name": "epss-gt",
                        "in": "query",
                        "required": false,
                        "description": "Only display CVEs with EPSS score greater or equal to this value.",
                        "schema": {
                            "type": "number",
                            "format": "float",
                            "example": 0.9
                        }
                    },
                    {
                        "name": "percentile-gt",
                        "in": "query",
                        "required": false,
                        "description": "Only display CVEs with percentile greater or equal to this value.",
                        "schema": {
                            "type": "number",
                            "format": "float",
                            "example": 0.95
                        }
                    },
                    {
                        "name": "epss-lt",
                        "in": "query",
                        "required": false,
                        "description": "Only display CVEs with EPSS score lower or equal to this value.",
                        "schema": {
                            "type": "number",
                            "format": "float",
                            "example": 0.5
                        }
                    },
                    {
                        "name": "percentile-lt",
                        "in": "query",
                        "required": false,
                        "description": "Only display CVEs with percentile lower or equal to this value.",
                        "schema": {
                            "type": "number",
                            "format": "float",
                            "example": 0.2
                        }
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "required": false,
                        "description": "Free text search in the CVE ID (allows partial matches).",
                        "schema": {
                            "type": "string",
                            "example": "CVE-2021"
                        }
                    },
                    {
                        "name": "scope",
                        "in": "query",
                        "required": false,
                        "description": "Defines the scope of information to retrieve.",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "public",
                                "time-series"
                            ],
                            "default": "public"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response with EPSS data.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "OK"
                                        },
                                        "status-code": {
                                            "type": "integer",
                                            "example": 200
                                        },
                                        "version": {
                                            "type": "string",
                                            "example": "1.0"
                                        },
                                        "access": {
                                            "type": "string",
                                            "example": "private, no-cache"
                                        },
                                        "total": {
                                            "type": "integer",
                                            "example": 2
                                        },
                                        "offset": {
                                            "type": "integer",
                                            "example": 0
                                        },
                                        "limit": {
                                            "type": "integer",
                                            "example": 100
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "cve": {
                                                        "type": "string",
                                                        "example": "CVE-2021-40438"
                                                    },
                                                    "epss": {
                                                        "type": "string",
                                                        "example": "0.972240000"
                                                    },
                                                    "percentile": {
                                                        "type": "string",
                                                        "example": "1.000000000"
                                                    },
                                                    "date": {
                                                        "type": "string",
                                                        "format": "date",
                                                        "example": "2022-02-28"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request. The request is invalid or malformed."
                    },
                    "429": {
                        "description": "Too Many Requests. The rate limit has been exceeded."
                    }
                }
            }
        }
    }
}